<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.waw.hr.dao.AdminUserMapper">

    <!--查询所有的企业信息-->
    <select id="getAdminUserByPassword" resultType="com.waw.hr.entity.AdminUser">
        select * from tb_admin_user where name=#{name} and password = #{pwd}
    </select>

    <!--查询所有的企业信息-->
    <select id="getAdminUserByName" resultType="com.waw.hr.entity.AdminUser">
        select * from tb_admin_user where name=#{arg0}
    </select>

    <insert id="addAdminUser">
        INSERT  INTO tb_admin_user(name,password,mobile,role,create_uid) VALUES (#{name},#{password},#{mobile},#{role},#{uid})
    </insert>

    <select id="getAdminUserByID" resultType="com.waw.hr.entity.AdminUser">
        select * from tb_admin_user where ID=#{id}
    </select>

    <update id="updateAdminUserStatus">
        UPDATE tb_admin_user SET status = #{status} WHERE id = #{uid}
    </update>


    <!--SELECT * FROM tb_admin_user WHERE role = 5-->

    <!--<if test="createUid != null and createUid != ''">-->

    <!--AND create_uid = #{createUid}-->

    <!--</if>-->

    <!--<if test="key != null and key != ''">-->

    <!--AND name LIKE #{key} or mobile like #{key}-->

    <!--</if>-->
    <select id="getEditorsList" resultType="com.waw.hr.entity.AdminUser">

        SELECT * FROM tb_employee WHERE role = 5

        <if test="createUid != null and createUid != ''">

            AND create_uid = #{createUid}

        </if>

        <if test="key != null and key != ''">

            AND name LIKE #{key} or mobile like #{key}

        </if>
    </select>


    <select id="getBrokerList" resultType="com.waw.hr.entity.AdminUser">
        SELECT * FROM tb_admin_user WHERE role = 0

        <if test="createUid != null and createUid != ''">

            AND create_uid = #{createUid}

        </if>

        <if test="key != null and key != ''">

            AND name LIKE #{key} or mobile like #{key}

        </if>

    </select>


    <!--      INSERT INTO tb_admin_user(name,mobile,create_uid,create_time,role,status) VALUES(#{name},#{mobile},#{createUid},#{createTime},5,1)-->
    <insert id="addEditor">



      INSERT INTO tb_employee (name,mobile,create_time,role,create_id ) VALUES  (#{name},#{mobile},#{createTime},#{role},#{createUid})

    </insert>

    <insert id="addBroker">

        INSERT INTO tb_admin_user(name,mobile,create_uid,create_time,role,status) VALUES(#{name},#{mobile},#{createUid},#{createTime},0,1)

    </insert>

    <insert id="sendEmployeeJoinSubsidyMoney">

        INSERT INTO tb_balance_log (uid,money,type,remark,create_time) VALUES (#{id},#{money},#{type},#{remark},#{time})

    </insert>


    <!--<insert id="addEditUser">-->
    <!--INSERT  INTO tb_admin_user(name,password,mobile,role) VALUES (#{name},#{password},#{mobile},5)-->
    <!--</insert>-->

    <!--&lt;!&ndash;添加经纪人&ndash;&gt;-->
    <!--<insert id="addBrokerUser">-->
    <!--INSERT  INTO tb_admin_user(name,password,mobile,role) VALUES (#{name},#{password},#{mobile},0)-->
    <!--</insert>-->

</mapper>