<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.waw.hr.dao.EmployeeMapper">


    <insert id="registerEmployee">
        INSERT INTO tb_employee (
        name,
        mobile,
        create_time VALUES  (#{name},#{mobile},#{time})
    </insert>

    <select id="getEmployeeList" resultType="com.waw.hr.entity.Employee">

        SELECT * FROM tb_employee

        <if test="key != null and key != ''">

            WHERE name LIKE #{key} OR mobile LIKE #{key}

        </if>

    </select>

    <select id="getEmployeeListByParentID">

        SELECT * FROM tb_employee WHERE parent_id = #{parentId}

        <if test="key != null and key != ''">

            WHERE name LIKE #{key} OR mobile LIKE #{key}

        </if>

    </select>

    <select id="getEmployeeListByBrokerId">

        SELECT * FROM tb_employee WHERE broker_id = #{brokerId}

        <if test="key != null and key != ''">

            WHERE name LIKE #{key} OR mobile LIKE #{key}

        </if>

    </select>


    <update id="updateEmployeeStatus">

        UPDATE tb_employee SET status = #{status} WHERE id = #{id}

    </update>

    <update id="updateEmployeeJobStatus">

        UPDATE tb_employee SET job_status = #{status} WHERE id = #{id}

    </update>

    <update id="updateEmployeeCashStatus">

        UPDATE tb_employee SET cash_status = #{status} WHERE id = #{id}

    </update>


    <update id="updateEmployeeBroker">

        UPDATE tb_employee SET broker_id = #{brokerId} WHERE id = #{id}

    </update>

    <update id="updateEmployeeJoinWorkTime">

        UPDATE tb_employee SET join_work_time = #{time} WHERE id = #{id}

    </update>

    <update id="updateEmployeeName">

        UPDATE tb_employee SET name = #{name} WHERE id = #{id}

    </update>

    <select id="getEmployeeByMobile">

        SELECT * FROM tb_employee where mobile = #{mobile}

    </select>

</mapper>