<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.waw.hr.dao.ShopMapper">


    <select id="shopList" resultMap="ShopListMap">

         SELECT * FROM tb_shop

    </select>

    <select id="cityList" resultType="com.waw.hr.entity.CityEntity">

        SELECT * FROM tb_city

    </select>

    <insert id="addShop">

        INSERT INTO tb_shop
        (name,address,lat,lng,broker_id,work_time,type,city_id,create_time,status)
        VALUES (#{name},#{address},#{lat},#{lng},#{brokerId},#{workTime},#{type},#{cityId},#{createTime})

    </insert>

    <resultMap type="com.waw.hr.entity.ShopEntity"
               id="ShopListMap">


        <result property="id" column="id"/>
        <result property="address" column="address"></result>
        <result property="name" column="name"></result>
        <result property="lat" column="lat"></result>
        <result property="lng" column="lng"></result>
        <result property="brokerId" column="broker_id"></result>
        <result property="createTime" column="create_time"></result>
        <result property="workTime" column="work_time"></result>
        <result property="status" column="status"></result>
        <result property="type" column="type"></result>
        <result property="pic" column="pic"></result>
        <result property="cityId" column="city_id"></result>

        <association column="broker_id" property="mobile"
                     select="com.waw.hr.dao.ShopMapper.getBrokerMobileById">
        </association>

        <association column="city_id" property="city"
                     select="com.waw.hr.dao.ShopMapper.getCityName">
        </association>

    </resultMap>


    <select id="getCityName" resultType="java.lang.String">

        SELECT title FROM tb_city where id = #{city_id}

    </select>


    <select id="getBrokerMobileById" resultType="java.lang.String">

        SELECT mobile FROM tb_admin_user where id = #{broker_id}

    </select>
</mapper>